# Environments
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Ignore all files in src directory
src/assignment

# But do NOT ignore (re-include) check_gpu_torch.py
!src/check_gpu_torch.py
!src/check_cpu.py
!src/check_cupy.py
!src/ntfy_notify.py

.env
